
.soccerfield{
 width: 1000px;
 height: 499px;
 background-color: #8CB27C;
 position: absolute;
}

.soccerborder{
 border: 3px solid #FFF;
 position: relative;
 margin-top: 2em;
 margin-left: 2em;
 width: 970px; 
 height: 470px;
 margin-top: 10px;
 margin-left: 10px;
}

.arc{
	border: 3px solid #FFF;
	position: relative;
	width: 150px;
	height: 190px;
}

.left{
 margin-top: 8em;	
}

.right{
  float:right;
  margin-top: -12em;	
}

.circle{
    width: 200px;
    height: 200px;
     border: 3px solid #FFF;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius:50% ;
    position: absolute;
   top:120px;
   left:350px;
}

.ball1{
  position: absolute;
  top: 9em;
  margin-left: 10em;

}

.ball2{
  position: absolute;
  top: 4em;  
  margin-left: 29em;
}

.ball3{
  position: absolute;
  top: 19em;
  margin-left: 50em;;  
}

